@import url('style/cabecalho.css');
@import url('style/menu.css');
@import url('style/banner.css');
@import url('style/conteudo.css');
@import url('style/rodape.css');
@import url('style/banner--sobre.css');
@import url('style/conteudo--sobre.css');
@import url('style/banner--galeria.css');
@import url('style/banner--contato.css');
@import url('style/banner--blog.css');
@import url('style/banner--destinos.css');
@import url('style/conteudo--galeria.css');

:root {
    --laranja-principal: #FEAC64;
    --laranja-background: #FFA350;
    --laranja-escuro: #DB8747;
    --laranja-botao: #E1A271;
    --laranja-card: #f1d7c3;
    --branco-principal: #FFFFFF;
    --branco-scrollbar: #fdfdfd;
    --cinza-escuro: #6C6C6C;
    --fonte-principal: "Montserrat";
    --fonte-banner: "Damion";
    --fonte-texto: "Open Sans";

}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track{
    background: var(--branco-scrollbar); 
}

body::-webkit-scrollbar-thumb{
    background-color: var(--laranja-principal);
    border-radius: 10px;
    border: 2px solid var(--laranja-background);
}

