.banner__imagem--sobre{
    background-image: url('../img/sobre.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 13em;
}

.banner__titulo--sobre{
    color: var(--branco-principal);
    font-family: var(--fonte-banner);
    font-size: 32px;
    position: relative;
    left: 0.2em;
    top: 0.6em;
    text-align: center;
    z-index: 15;
    margin-top: -130px !important;
    margin-bottom: 2em;
}

@media screen and (min-width: 768px) and (max-width:1023px){
    .banner__imagem--sobre{
        height: 30em;
    }
    .banner__titulo--sobre{
        font-size: 64px;
        margin-top: -350px !important;
    }
}

@media screen and (min-width: 1024px){
    .banner__imagem--sobre{
        height: 40em;
    }

    .banner__titulo--sobre{
        font-size: 78px;
        top: -2.8em;
    }
}

@media screen and (min-width: 1675px){
    .banner__imagem--sobre{
        height: 60em;
    }

    .banner__titulo--sobre{
        top: -5em;
    }
}