.cabecalho {
    display: flex;
    background: url('../img/header-bg.png') no-repeat center;
    position: absolute;
    height: 3.2em;
    width: 100%;
}

.cabecalho__container{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 0 2em;
    width:100%;
}

.cabecalho__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    position: relative;
    padding: 0 1em 1.5em 0;
}

.cabecalho__lista{
    display:none;
}

@media screen and (min-width: 375px) and (max-width:459px){
    .cabecalho__logo{
        margin-left: 15vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .cabecalho__container{
        margin-left: 20vw;
    }

    .cabecalho__logo{
        margin-left: 15vw;
    }
}

@media screen and (min-width: 1024px){
    .cabecalho{
        height: 5em;
    }
    .cabecalho__logo{
        display: none;
    }

    .cabecalho--desktop{
        display: flex;
        flex-direction: column;
        width: 101%;
    }

    .cabecalho__lista{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .desktop-logo{
        padding: 0em 2em;
    }

    .cabecalho__item{
        padding-bottom: 1em;
    }

    .cabecalho__link{
        color: var(--laranja-principal);
        font-family: var(--fonte-principal);
        font-weight: 800;
        font-size: 15px;
        text-decoration: none;
    }

    .cabecalho__link:hover{
        border-bottom: 1px  solid var(--laranja-principal);
    }

    .cabecalho__link:focus {
        border-bottom: 1px  solid var(--laranja-principal);
    }
}

@media screen and (min-width: 1675px){
    .cabecalho{
        background-color: #fdfdfd;
        height: 4em;
    }

    .cabecalho__item{
        padding-top: 1em
    }

    .cabecalho__link{
        font-size: 20px;
    }
}