.cabecalho {
    display: flex;
    height: 4em;
    background: url('../img/header-bg.png') no-repeat center;
    position: absolute;
    width: 100%;
}



.cabecalho__container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 2em;
    padding-top: 1em;
    width:100%;
}

.cabecalho__logo{
    position: relative;
    padding-bottom: 1em;
    padding-right: 1em;
    align-items: center;
}

