.conteudo__titulo--sobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;
}

.bg__titulo--sobre{
    width: 70%;
}

.conteudo__chamada--sobre{
    color: var(--branco-principal);
    font-family: var(--fonte-banner);
    font-size: 28px;
    margin-top: -35px !important;
}
/*ACRESCENTAR ITENS DO CONTEUDO__TITULO--SOBRE*/


.conteudo__descricao--sobre{
    font-family: var(--fonte-texto);
    width: 90%;
    margin: 2em;
}

.descricao__titulo-principal--sobre {
    color: var(--laranja-principal);
    font-weight: 700;
    padding-bottom: 1.2em;
}

.descricao-texto--sobre{
    color: var(--cinza-escuro);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5em;
}

@media screen and (min-width: 375px) and (max-width:459px){
    
}

@media screen and (min-width: 768px) and (max-width:1023px){
    .conteudo__titulo--sobre{
        margin-top:30%;
    }
    /*ACRESCENTAR ITENS DO CONTEUDO__TITULO--SOBRE*/

    .descricao__titulo-principal--sobre{
        padding-left: 1em;
        font-size: 20px;
    }
    .descricao-texto--sobre{
        font-size: 15px;
        padding-left: 1.2em;
    }
}

@media screen and (min-width: 1024px){
    .conteudo__titulo--sobre{
        margin-top:8%;
    }

    /*ACRESCENTAR ITENS DO CONTEUDO__TITULO--SOBRE*/

    .conteudo__sobre{
        display: flex;
    }

    .conteudo__descricao--sobre{
        margin: 5em 3em;
    }

    .descricao__titulo-principal--sobre{
        font-size: 20px;
    }

    .descricao-texto--sobre{
        font-size: 16px;
        line-height: 1.8em;
    }
}