.btn__menu {
    background-color: var(--branco-principal);
    border: none;
    padding: 1em;
}

.menu__lista{
    background-color: var(--branco-principal);
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 0.3em;
    width: 50%;
    height: auto;
}

#menu-nav.active .menu__lista{
    display: flex;
}

.menu__item{
    color: var(--laranja-principal);
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-weight: 600;
    padding: 0.5em;
}

.menu__link {
    text-decoration: none;
    color: var(--laranja-principal);
    padding: 0 1em;
    text-align: center;
    z-index: 16;
}

.menu__link:focus {
    font-weight: 800;
    border-bottom: 1px  solid var(--laranja-principal);
}

.menu__icon {
    padding: 0 0 0 0.5em;
}